html{
    height:100vh;
    min-width:600px;
    background-color:rgba(40,150,255,255);
    background-repeat:no-repeat;
    background-size:auto;
}

.container{
    width:600px;
    display:flex;
    justify-content:centre;
    flex-direction:column;
    margin:auto;
    font-family:'Raleway',sans-serif;
}
.logo{
    display:flex;
    margin:auto;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
    text-align: center;

}
.logo img{
   
    width:4%;
    height:4%;
    margin:0 auto;
    
    
}
.main{
    padding:10px;
    display:flex;
    flex-direction: column;
    background-color:whitesmoke;
    border-radius: 5px;
}
.main #bottomBar {
    display:flex;
    flex-direction: row;
    font-size:0.8rem;
    
    justify-content: space-between;
    border-top: 2px solid rgb(215, 212, 212);
    border-radius: 1px;
    
   
}
#bottomBar a{
    padding: 10px;
   
    text-decoration: none;
    color:dimgray;
    font-weight: 700;
   
   
  

}
#bottomBar div{
    
    text-decoration: none;
    color:dimgray;
    font-weight: 700;
    padding-top:5px
   
   
  

}
.categorAndDue{
    display:inline-block;
    
    width: 42%;
    margin:0;
    padding:1px 6px 6px 6px;
    
}
form{
    
    padding:10px;
    padding-bottom: 2px;     
    display:flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(215, 212, 212);
    border-radius: 1px;
    

}
form #div2 {
    display:flex;
    flex-direction: row;
    font-size:0.8rem;
    margin-top: 5px;
    justify-content: space-between;
    
    
   
}
#div2 a{
    text-decoration: none;
    color:dimgray;
    font-weight: 700;

}




form input[type="text"]{
    height:30px;
    width: 95%;
    outline:0;
    border:none;
    font-size:1rem;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    color:black;
}
form input,select{
    height:30px;
    width: 100%;
    outline:0;
    border:none;
    font-size:1rem;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    color:black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(211, 204, 204);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(211, 204, 204);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(211, 204, 204);
  }

form button {
    height:50px;
    width: 50px;
    outline:0;
    border:none;
    font-size:1.4rem;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    color:white;
    background-color:rgb(40, 150, 255);
    
    cursor: pointer;
   
}
.pointerClass{
    cursor: pointer;
}
form button:hover{
    color:rgb(40, 150, 255);
    background-color:white;
}
.todo-list{
    background-color: whitesmoke;
    border-radius:5px;
    margin-top:20px;
    padding:10px,25px; 
    height: 100%;

}
ul{
    padding-left:0px;
    list-style-type: none;

}
li{
    display:flex;
    flex-direction: row;
   flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    color:black;
    cursor: pointer;

}


.date{
    color:lightgrey;
    font-size: 0.8rem;
}
#category{
    display:inline-block;
    background-color: rgb(40, 150, 255);
    height:auto;
    padding: 0 10px;
}
#descariptionAndDelete{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin:0;
    padding:0;
}
#descariptionAndDelete div p{
    margin: 0px;
}

